.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.77px;
    border-radius: 99px;
    text-transform: uppercase;
    color: white;
    &.orange {
        background-color: var(--orange-light);
        &:hover {
            background-color: var(--orange);
        }
    }
    &.blue {
        background-color: var(--blue);
        &:hover {
            background-color: #0b6f8d;
        }
    }
}
// @media (max-width: map.get($grid-breakpoints, "lg")){
//     .btn {
//         padding: 7px 20px;
//         width: map-get($grid-breakpoints, md);
//     }
// }
