.brands {
    padding: 40px 0;
    .wrapper {
        flex-wrap: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .brand_item {
        width: 100%;
        text-align: center;
        min-width: 200px;
        img {
            max-width: 170px;
            display: inline-block;
        }
    }
}