.hero {
    background-image: url(../images/hero-shape.png);
    // background-color: red;
    // background-color: #FCFEFF;
    background-size: cover;
    background-position: top right;
    margin-top: -150px;
    padding-top: calc(150px + 60px);
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;
    .container {
        position: relative;
        z-index: 2;
    }
    .wrapper {
        align-items: center;
    }
    &::after {
        content: "";
        position: absolute;
        left: 10%;
        top: -5%;
        background-image: url("../images/shape1.svg");
        background-size: contain;
        aspect-ratio: 36/51;
        transform: rotate(-27.134deg);
        width: 360px;
    }
    .col_6 {
        width: 50%;
    }
    .content {
        > * {
            margin-bottom: 12px;
        }
        h5 {
            text-transform: uppercase;
        }
        h1 {
            font-size: 42px;
            font-weight: 700;
        }
        p {
            margin-bottom: 32px;
            opacity: .65;
        }
        .btn_group {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }
    .image {
        position: relative;
        height: fit-content;
        width: fit-content;
        margin-left: auto;
        img {
            filter: drop-shadow(1px 7px 15px rgba(0, 0, 0, 0.1)) drop-shadow(3px 27px 27px rgba(0, 0, 0, 0.09))
                drop-shadow(6px 60px 36px rgba(0, 0, 0, 0.05)) drop-shadow(11px 107px 43px rgba(0, 0, 0, 0.01))
                drop-shadow(11px 107px 43px rgba(0, 0, 0, 0));
        }
        .feature_icons {
            .icon {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-radius: 50%;
                max-width: 17%;
                aspect-ratio: 1/1;
                filter: drop-shadow(1px 7px 15px rgba(0, 0, 0, 0.1)) drop-shadow(3px 27px 27px rgba(0, 0, 0, 0.09))
                    drop-shadow(6px 60px 36px rgba(0, 0, 0, 0.05)) drop-shadow(11px 107px 43px rgba(0, 0, 0, 0.01))
                    drop-shadow(11px 107px 43px rgba(0, 0, 0, 0));
                img {
                    max-width: 60%;
                }
            }
            .icon1 {
                width: 85px;
                left: 11%;
                bottom: 53%;
            }
            .icon2 {
                width: 71px;
                bottom: 44%;
                right: 10%;
            }
            .icon3 {
                width: 93px;
                left: 16%;
                bottom: 1%;
            }
            .icon4 {
                width: 97px;
                right: 23%;
                bottom: -7%;
            }
        }
    }
}

@media (max-width: map.get($grid-breakpoints, "lg")) {
    .hero {
        background-image: url(../images/hero-shape-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
        &::after {
            width: 242px;
            top: 4%;
            left: -19%;
            transform: rotate(-30deg);
            background-image: url("../images/shape1-mobile.png");
        }
        .col_6 {
            width: 100%;
        }
        .content {
            text-align: center;
            .btn_group {
                display: inline-flex;
            }
            h1 {
                font-size: 24px;
            }
        }
        .image {
            margin: 24px auto 0;
        }
    }
}
@media (max-width: map.get($grid-breakpoints, "md")) {
    .hero{
        .content {
            .btn_group {
                flex-direction: column;
            }
        }
    }
}