.sub_page_hero {
    margin-top: -128px;
    padding: 178px 0 78px;
    &.events {
        background-color: #fef1ca;
        background-image: url(../images/bg-shape.svg);
        background-size: cover;
        background-repeat: no-repeat;
        .content {
            h5 {
                color: var(--green);
            }
            p {
                opacity: 0.65;
            }
        }
    }
    &.industry {
        // background-image: url(../images/image2.png);
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;
        position: relative;
        padding: 196px 0 142px;
        .content {
            color: white;
        }
        .bg_img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                clip-path: polygon(
                    51.037% 100%,
                    51.037% 100%,
                    45.369% 99.765%,
                    39.528% 99.095%,
                    33.624% 98.04%,
                    27.772% 96.652%,
                    22.082% 94.982%,
                    16.667% 93.081%,
                    11.639% 91.001%,
                    7.11% 88.791%,
                    3.193% 86.505%,
                    0% 84.192%,
                    0% 0%,
                    100% 0%,
                    100% 84.192%,
                    100% 84.192%,
                    97.033% 86.505%,
                    93.371% 88.791%,
                    89.114% 91.001%,
                    84.362% 93.081%,
                    79.215% 94.982%,
                    73.772% 96.652%,
                    68.133% 98.04%,
                    62.398% 99.095%,
                    56.666% 99.765%,
                    51.037% 100%
                );
            }
        }
        > * {
            position: relative;
            z-index: 2;
        }
    }
    .content {
        text-align: left;
        max-width: 100%;
        > * {
            margin-bottom: 16px;
        }
        h5 {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
        h1 {
            font-size: 42px;
            font-weight: 700;
        }
        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 2;
        }
    }
    .col {
        &.first {
            width: 60%;
            padding-right: 120px;
        }
        &.last {
            width: 40%;
        }
    }
    .wrapper {
        align-items: center;
    }
}
@media (max-width: 991px) {
    .sub_page_hero {
        .col {
            width: 100% !important;
            padding: 0 !important;
            &:nth-child(2) {
                margin-top: 42px;
            }
        }
        .content {
            text-align: center;
            h5 {
                margin-bottom: 12px;
            }
            h1 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 12px;
            }
            p {
                font-size: 14px;
                font-weight: 600;
            }
        }
        &.industry {
            padding: 147px 0 60px;
        }
    }
}

.upcoming_events {
    padding: 72px 0 120px;
    .event_item {
        padding: 24px 0;
        &:not(:last-child) {
            border-bottom: 1px solid #e2e2e2;
        }
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
        }
        h5 {
            font-size: 14px;
            font-weight: 600;
            color: var(--blue);
        }
        .date {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            color: var(--grey-light);
        }
        .title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 16px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            opacity: 0.65;
            margin-bottom: 40px;
        }
        .location {
            font-size: 14px;
            font-weight: 600;
            color: var(--grey-light);
        }
    }
}

.manufacturing {
    padding: 64px 0;
    overflow: hidden;
    .wrapper {
        align-items: center;
        margin: 0 -20px;
    }
    .col {
        width: 50%;
        padding: 0 20px;
    }
    .content {
        > * {
            margin-bottom: 12px;
        }
        h5 {
            font-size: 14px;
            font-weight: 600;
            color: var(--green);
            margin-bottom: 12px;
        }
        h1 {
            font-size: 42px;
            font-weight: 700;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            opacity: 0.65;
        }
    }
}
@media (max-width: 991px) {
    .manufacturing {
        .content {
            text-align: center;
            margin-bottom: 36px;
            h1 {
                font-size: 24px;
            }
        }
        .image {
            margin: 0 -16px;
        }
        .wrapper {
            margin: 0 -10px;
        }
        .col {
            width: 100%;
            padding: 0 10px;
        }
    }
}

.workWithUs.why_cis {
    overflow: hidden;
    background-color: var(--green);
    background-image: url(../images/shape2.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 42%;
    margin-bottom: 40px;
    .wrapper {
        align-items: center;
    }
    .sec_title {
        text-align: left;
        padding-right: 60px;
        > * {
            color: white;
        }
        h5 {
            color: var(--orange-light);
        }
    }
    .col_4 {
        width: 45%;
    }
    .col_6 {
        width: 55%;
    }
    .items_list {
        padding: 55px 0;
        overflow: hidden;
        margin-right: -850px;
        padding-right: 850px;
        .swiper-slide {
            width: 284px;
        }
    }
}

@media (max-width: 991px) {
    .workWithUs.why_cis {
        padding: 68px 0 40px;
        .sec_title {
            margin-bottom: 0;
            padding-right: 0;
            text-align: center;
        }
        .col {
            width: 100% !important;
        }
        .items_list {
            margin: 0;
            padding: 30px 0;
            gap: 0;
            overflow: visible;
        }
    }
}

.content_slider {
    overflow: hidden;
    margin-top: 40px;
    padding-bottom: 100px;

    .container {
        > .sec_title {
            margin-bottom: 130px;
        }
    }
    .wrapper {
        margin: 0 -10px;
        align-items: center;
        .col_5 {
            width: 50%;
            padding: 0 10px;
        }
        .sec_title {
            text-align: left;
            max-width: 100%;
        }
    }
    .image {
        img {
            max-width: 420px;
            margin: 0 auto;
            border-radius: 16px;
            transform: rotate(-7.478deg);
            box-shadow:
                0px 12.27863px 27.39079px 0px rgba(105, 105, 105, 0.1),
                0px 50.05903px 50.05903px 0px rgba(105, 105, 105, 0.09),
                0px 113.3412px 68.00471px 0px rgba(105, 105, 105, 0.05),
                0px 202.12514px 81.22786px 0px rgba(105, 105, 105, 0.01),
                0px 315.46634px 88.78394px 0px rgba(105, 105, 105, 0);
        }
    }
    .content {
        .logo {
            margin-bottom: 32px;
        }
        h1 {
            font-size: 24px;
            font-weight: 600;
            color: var(--green);
            margin-bottom: 16px;
        }
    }
    .slider {
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 150px;
    }
    .slider_wrap {
        position: relative;
        .swiper-pagination {
            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                background-color: var(--green);
                border-radius: 99px;
                transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                opacity: 0.34;
            }
            .swiper-pagination-bullet-active {
                opacity: 1;
                width: 28px;
            }
        }
        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .prev_arrow {
            left: -50px;
        }
        .next_arrow {
            right: -50px;
        }
        .swiper-button-disabled {
            pointer-events: none;
            opacity: .3;
        }
    }
}
@media (min-width: map.get($grid-breakpoints, "lg")) {
    .content_slider {

        .slider_wrap {
            .swiper-pagination {
                display: none;
            }
        }
    }
}
@media (max-width: map.get($grid-breakpoints, "lg")) {
    .content_slider {
        .slider {
            padding-bottom: 60px;
        }
        > .container {
            > .sec_title {
                margin-bottom: 40px;
            }
        }
        .slider {
            overflow: visible;
        }
        .wrapper {
            .col_5 {
                width: 100%;
            }
        }
        .image {
            margin-bottom: 60px;
            img {
                width: 90%;
            }
        }
    }
}
