.site_footer {
    background-color: var(--navy-02);
    color: white;
    padding: 100px 0;

}
@media (max-width: map.get($grid-breakpoints, "lg")) {
    .site_footer {
        padding: 20px 0;
    }
}
@media (max-width: map.get($grid-breakpoints, "md")) {
    .site_footer {
        display: block;
    }
}
